#mapid {
  position: relative;
  width: 97vw;
  height: 80vh;
  border: 3px solid white;
  border-radius: 10px;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

layer.bindPopup(popupContent, {
       offset: new L.Point(0,-options.radius)
   });


#panel {
  position: absolute;
  max-width: 25%;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: 42px;
  overflow: hidden;
}

.range-slider {
   width: 20%;
   background: #262626;
   height: 50px;
}

input[type="range"]::-moz-range-progress {
  background-color: white;
}
input[type="range"]::-moz-range-track {
  background-color: white;
}

.step {
	width: 5.5%;
  background: #262626;
  border-radius: 10px;
}

.step img {
	width: 90%;
  background: #262626;
  border-radius: 10px;
}


#forward {
  float: center;
}

#reverse {
   float: left;
}

.leaflet-popup-content-wrapper {
  background: #262626;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
  border: white
}

.leaflet-popup-content-wrapper {
  color: white;
  font: 13px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* body{
  overflow: hidden;
} */
