/* ------ Testing Responsive Mobile Design ------ */
@media screen and (max-width: 768px) {
  .intro {
    width: 300px !important;
    border-bottom: 10px !important;
    border-bottom: 10px !important;
  }
  h1 {
    font-size: 14pt !important;
    letter-spacing: normal !important;
  }
  h2 {
    font-size: 9pt !important;
  }
  .mainContainer {
    overflow: visible !important;
  }
  #mapid {
    height: 500px !important;
    float: left !important;
    width: 90% !important;
    border: 3px solid #3EBCEF !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    /* padding-left: 50px !important; */
  }
  .body-text {
    float: left !important;
    width: 90% !important;
    border: 3px solid #3EBCEF !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    /* padding-right: 50px !important; */
  }
  .VidsPics {
    width: 400px !important;
  }
  .legend-control-container {
    width: 200px !important;
    height: 90px !important;
  }
  .leaflet-top.leaflet-left,
  .leaflet-control-zoom.leaflet-bar.leaflet-control {
    right:0 !important;
    margin-right: 10px !important;
  }
  .footer {
    position: fixed !important;
    bottom: 0px !important;
  }
}

/* ------ End Test ------ */

                    /* -------- Header Text -------- */
.intro {
  background-color: #E0E0E0;
  border: 3px solid white;
  height: 75px;
  border-radius: 10px;
  margin: auto;
  width: 900px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

h1 {
  color: black;
  font-size: 16pt;
  font-family: "Palatino";
  text-align: center;
  letter-spacing: 5px;
}

h2 {
  color: black;
  font-size: 12pt;
  font-family: "Palatino";
  text-align: center;
  letter-spacing: 3px;
}

                /* ------ Main Div ------ */
.mainContainer {
  overflow: hidden;
}

.body-text {
  max-width: 100%;
  height: 80vh;
  flex: 100%;
  border: 3px solid white;
  border-radius: 10px;
  background-color: #E0E0E0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 17px;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  scrollbar-width: none;
  -ms-overflow-style: none
}

/* Hidden Scroll for Chrome/Safari */
.body-text::-webkit-scrollbar {
  display: none;
}

.body-text h3 {
  /* color: #95003A; */
  color: black;
  font-family: "Palatino";
  padding-left: 10px;
  top: 5px;
}

.body-text p {
  /* color: #95003A; */
  color: black;
  font-family: "Helvetica";
  padding-left: 10px;
  top: 5px;
}

.VidsPics {
  border-radius: 10px;
  border-color: #95003A;
  border-width: 3px;

}

.footer p {
  position: relative;
  text-align: center;
  bottom: 5px;
  width: 100%;
  color: white;
  font-size: 8px
}

            /* -------- Map -------- */
#mapid {
  position: relative;
  float: right;
  flex: 66%;
  width: 66%;
  height: 80vh;
  border: 3px solid white;
  border-radius: 10px;
  margin-left: 0;
  padding-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

    /* -------- Pop-ups -------- */
.leaflet-popup-content p {
    margin: 0.2em 0;
}

layer.bindPopup(popupContent, {
       offset: new L.Point(0,-options.radius)
   });


/* ------- Slider ------ */
#panel {
  position: absolute;
  max-width: 25%;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: 42px;
  overflow: hidden;
}

.range-slider {
   width: 100%;
   background: #FF69B4;
   height: 50px;
   opacity: 75%;
   border-radius: 10px;
   border-color: white;
}

/* RANGE styles for Firefox */
input[type="range"]::-moz-range-progress {
  background-color: white;
}
input[type="range"]::-moz-range-track {
  background-color: white;
}

.step {
	width: 40%;
  /* background: #95003A; deep red color */
  background: #FF69B4;
  border-radius: 10px;
  opacity: 75%;
}

.step img {
	width: 40%;
  background: #FF69B4;
  border-radius: 10px;
  /* opacity: 50%; */
}

#forward {
  float: right;
}

#reverse {
   float: left;
}

/* -------- Pop-ups Style -------- */

.leaflet-popup-content-wrapper {
  background: #262626;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
  border: white
}

.leaflet-popup-content-wrapper {
  color: white;
  font: 13px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}


                  /* ------ Legend ------ */
.legend-control-container {
	font: "Helvetica Neue";
  text-align: center;
	font-weight: bold;
	font-size: 12pt;
	background: #FF69B4;
  color: white;
  width: 10vw;
  height: 20vh;
  opacity: 75%;
  border-radius: 10%;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control,
.leaflet-touch.leaflet-bar {
  padding-top: 300px;
  border: 0px;
}

.leaflet-touch.leaflet-control-layers,
.leaflet-touch.leaflet-bar {
  padding-top: 300px;
}

/* body{
  overflow: hidden;
} */


/* @track-color: #424242;
@thumb-color: #555bc8;

@thumb-radius: 8px;
@thumb-height: 30px;
@thumb-width: 30px;
@thumb-shadow-size: 1px;
@thumb-shadow-blur: 1px;
@thumb-shadow-color: #111;
@thumb-border-width: 1px;
@thumb-border-color: white;

@track-width: 100%;
@track-height: 10px;
@track-shadow-size: 2px;
@track-shadow-blur: 2px;
@track-shadow-color: #222;
@track-border-width: 1px;
@track-border-color: black;

@track-radius: 5px;
@contrast: 5%;

.shadow(@shadow-size,@shadow-blur,@shadow-color) {
  box-shadow: @shadow-size @shadow-size @shadow-blur @shadow-color, 0px 0px @shadow-size lighten(@shadow-color,5%);
}

.track() {
  width: @track-width;
  height: @track-height;
  cursor: pointer;
  animate: 0.2s;
}

.thumb() {
  .shadow(@thumb-shadow-size,@thumb-shadow-blur,@thumb-shadow-color);
  border: @thumb-border-width solid @thumb-border-color;
  height: @thumb-height;
  width: @thumb-width;
  border-radius: @thumb-radius;
  background: @thumb-color;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  margin: @thumb-height/2 0;
  width: @track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    .track();
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
    background: @track-color;
    border-radius: @track-radius;
    border: @track-border-width solid @track-border-color;
  }

  &::-webkit-slider-thumb {
    .thumb();
    -webkit-appearance: none;
    margin-top: ((-@track-border-width * 2 + @track-height) / 2) - (@thumb-height / 2);
  }

  &:focus::-webkit-slider-runnable-track {
    background: lighten(@track-color, @contrast);
  }

  &::-moz-range-track {
    .track();
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
    background: @track-color;
    border-radius: @track-radius;
     border: @track-border-width solid @track-border-color;
  }
  &::-moz-range-thumb {
     .thumb();
  }

  &::-ms-track {
    .track();
    background: transparent;
    border-color: transparent;
    border-width: @thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: darken(@track-color, @contrast);
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
  }
  &::-ms-fill-upper {
    background: @track-color;
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
  }
  &::-ms-thumb {
    .thumb();
  }
  &:focus::-ms-fill-lower {
    background: @track-color;
  }
  &:focus::-ms-fill-upper {
    background: lighten(@track-color, @contrast);
  }
} */
