/* -------- Info Text -------- */

.intro {
  background-color: #2B2D2F;
  border: 3px solid white;
  height: 75px;
  border-radius: 10px;
  margin: auto;
  width: 900px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

h1 {
  color: white;
  font-size: 16pt;
  font-family: "Palatino";
  text-align: center;
}

h2 {
  color: white;
  font-size: 12pt;
  font-family: "Palatino";
  text-align: center;
}

.mainContainer {
  overflow: hidden;
}

.body-text {
  max-width: 100%;
  height: 80vh;
  flex: 100%;
  border: 3px solid white;
  border-radius: 10px;
  background-color: #2B2D2F;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 17px;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  scrollbar-width: none;
  -ms-overflow-style: none
}

/* Hidden Scroll for Chrome/Safari */
.body-text::-webkit-scrollbar {
  display: none;
}

.body-text h3 {
  color: white;
  font-family: "Palatino";
  padding-left: 10px;
  top: 5px;
}

.body-text p {
  color: white;
  font-family: "Helvetica";
  padding-left: 10px;
  top: 5px;
}

.VidsPics {
  border-radius: 10px;
  border-color: white;
  border-width: 3px;
}

.footer p {
  position: fixed;
  text-align: center;
  bottom: 5px;
  width: 100%;
}

/* ---- Back to Top Button ---- */
#myBtn {
 display: none; /* Hidden by default */
 position: fixed; /* Fixed/sticky position */
 bottom: 20px; /* Place the button at the bottom of the page */
 right: 30px; /* Place the button 30px from the right */
 z-index: 99; /* Make sure it does not overlap */
 border: none; /* Remove borders */
 outline: none; /* Remove outline */
 background-color: red; /* Set a background color */
 color: white; /* Text color */
 cursor: pointer; /* Add a mouse pointer on hover */
 padding: 15px; /* Some padding */
 border-radius: 10px; /* Rounded corners */
 font-size: 18px; /* Increase font size */
}

#myBtn:hover {
 background-color: #555; /* Add a dark-grey background on hover */
}

/* -------- Map -------- */
#mapid {
  position: relative;
  float: right;
  flex: 66%;
  width: 66%;
  height: 80vh;
  border: 3px solid white;
  border-radius: 10px;
  margin-left: 0;
  padding-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* -------- Pop-ups -------- */
.leaflet-popup-content p {
    margin: 0.2em 0;
}

layer.bindPopup(popupContent, {
       offset: new L.Point(0,-options.radius)
   });

#panel {
  position: absolute;
  max-width: 25%;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: 42px;
  overflow: hidden;
}

.range-slider {
   width: 100%;
   background: #95003A;
   height: 50px;
   opacity: 60%;
   border-radius: 10px;
   border-color: white;
}

/* RANGE styles for Firefox */
input[type="range"]::-moz-range-progress {
  background-color: white;
}
input[type="range"]::-moz-range-track {
  background-color: white;
}

.step {
	width: 40%;
  background: #95003A;
  border-radius: 10px;
  opacity: 60%;
}

.step img {
	width: 40%;
  background: #95003A;
  border-radius: 10px;
  /* opacity: 50%; */
}

#forward {
  float: right;
}

#reverse {
   float: left;
}

/* -------- Pop-ups Style -------- */

.leaflet-popup-content-wrapper {
  background: #262626;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
  border: white
}

.leaflet-popup-content-wrapper {
  color: white;
  font: 13px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.legend-control-container {
	font: "Helvetica Neue";
  text-align: center;
	font-weight: bold;
	font-size: 12pt;
	background: #95003A;
  color: white;
  width: 10vw;
  height: 20vh;
  opacity: 50%;
  border-radius: 10%;
}

/* body{
  overflow: hidden;
} */


/* @track-color: #424242;
@thumb-color: #555bc8;

@thumb-radius: 8px;
@thumb-height: 30px;
@thumb-width: 30px;
@thumb-shadow-size: 1px;
@thumb-shadow-blur: 1px;
@thumb-shadow-color: #111;
@thumb-border-width: 1px;
@thumb-border-color: white;

@track-width: 100%;
@track-height: 10px;
@track-shadow-size: 2px;
@track-shadow-blur: 2px;
@track-shadow-color: #222;
@track-border-width: 1px;
@track-border-color: black;

@track-radius: 5px;
@contrast: 5%;

.shadow(@shadow-size,@shadow-blur,@shadow-color) {
  box-shadow: @shadow-size @shadow-size @shadow-blur @shadow-color, 0px 0px @shadow-size lighten(@shadow-color,5%);
}

.track() {
  width: @track-width;
  height: @track-height;
  cursor: pointer;
  animate: 0.2s;
}

.thumb() {
  .shadow(@thumb-shadow-size,@thumb-shadow-blur,@thumb-shadow-color);
  border: @thumb-border-width solid @thumb-border-color;
  height: @thumb-height;
  width: @thumb-width;
  border-radius: @thumb-radius;
  background: @thumb-color;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  margin: @thumb-height/2 0;
  width: @track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    .track();
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
    background: @track-color;
    border-radius: @track-radius;
    border: @track-border-width solid @track-border-color;
  }

  &::-webkit-slider-thumb {
    .thumb();
    -webkit-appearance: none;
    margin-top: ((-@track-border-width * 2 + @track-height) / 2) - (@thumb-height / 2);
  }

  &:focus::-webkit-slider-runnable-track {
    background: lighten(@track-color, @contrast);
  }

  &::-moz-range-track {
    .track();
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
    background: @track-color;
    border-radius: @track-radius;
     border: @track-border-width solid @track-border-color;
  }
  &::-moz-range-thumb {
     .thumb();
  }

  &::-ms-track {
    .track();
    background: transparent;
    border-color: transparent;
    border-width: @thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: darken(@track-color, @contrast);
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
  }
  &::-ms-fill-upper {
    background: @track-color;
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
  }
  &::-ms-thumb {
    .thumb();
  }
  &:focus::-ms-fill-lower {
    background: @track-color;
  }
  &:focus::-ms-fill-upper {
    background: lighten(@track-color, @contrast);
  }
} */
